*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#dbdbdb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 395px;
    height: 100vh;
}

#container{
    width: 520px;
    background-color: #9cddc8;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 2px 3px 10px rgb(128, 127, 127, 4);
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 3px solid #00b5b9 ;
    margin-bottom: 10px;
}

#midias-sociais{
    margin-bottom: 10px;
    font-size: 13px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#redes{
    display: flex;
    justify-content: center;
}

#redes span{
    margin: 5px;
    background-color: #dbdbdb;
    padding: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-items: center;
    font-size: 10px;
    font-weight: bolder;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#person-data input{
    width: 360px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

#person-data input:focus{
    outline: 2px solid rgb(255, 211, 13);
}

#recovery{
    display: flex;
    align-items: center;
}

#recovery label{
    display: inline;
    margin-left: 5px;
}

#recovery div{
    display: flex;
    flex-grow: 1;
}

#submit{
    width: 340px;
    height: 40px;
    border-radius: 30px;
    margin: 10px 0;
    background: linear-gradient(to right, #daff08, #7df79d);
    border: none;
    box-shadow: 2px 3px 10px rgb(128, 127, 127, 4);
    color: white;
    text-shadow: 1px 2px 3px rgb(80, 79, 79);
}

#submit:hover{
    background: linear-gradient(to right, #eeff00, #1ef858);
}

#conditions{
    display: flex;
    align-items: center;
}


#conditions a{
    font-size: 12px;
    color: rgb(116, 115, 115);
    margin-left: 10px;
}

#conditions a:hover{
    text-decoration: underline;
}






/*
    All Formatting
*/

label{
    display: block;
    margin: 5px 0;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

a:hover{
    color: rgb(122, 122, 122);
}

